.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-100 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

// 限制文章行數6行
.text-overflow-6 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  height: 144px;
  @include media-breakpoint-up(lg) {
    height: 180px;
  }
}