.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-100 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}