<header class="bg-primary">
  <nav class="container-md px-0 px-md-3 d-md-flex align-items-center justify-content-between">
    <div class="py-3 ps-r3 py-md-4 ps-md-0">
      <a href="index.html">
        <img src="../assets/images/logo-white.png" width="80" height="48" alt="logo-light">
      </a>
    </div>
    <ul class="d-flex flex-wrap list-unstyled mb-0">
      <li class="w-50 w-md-auto me-md-16">
        <a href="product-optical.html"
          class="d-block border border-light border-md-0 py-3 text-center fs-md-6">
          系列鏡框
        </a>
      </li>
      <li class="w-50 w-md-auto me-md-16">
        <a href="store-list.html"
          class="d-block border border-light border-md-0 py-3 text-center fs-md-6">
          門市據點
        </a>
      </li>
      <li class="w-50 w-md-auto me-md-16">
        <a href="blogs.html"
          class="d-block border border-light border-md-0 py-3 text-center fs-md-6">
          部落格
        </a>
      </li>
      <li class="w-50 w-md-auto">
        <a href="#"
          class="d-block border border-light border-md-0 py-3 text-center fs-md-6">
          常見問題
        </a>
      </li>
    </ul>
  </nav>
</header>