.index-banner {
  background-image: url('../images/home-header-sm.png');
  @include media-breakpoint-up(lg) {
    background-image: url('../images/home-header.png');
  }
}

.index-glassess {
  li:hover img{
    transform: scale(1.2);
  }
}

.index-design-glassess {
  background-image: url('../images/index-bg-sm.png');
  @include media-breakpoint-up(md) {
    background-image: url('../images/index-bg-md.png');
  }
  @include media-breakpoint-up(lg) {
    background-image: url('../images/index-bg.png');
  }

  li:hover .img-area-1,
  li:hover .img-area-2{
    transform: scale(1.2);
  }

  .img-area-1 {
    background-image: url('../images/home-section4-1-sm.png');
    @include media-breakpoint-up(md) {
      background-image: url('../images/home-section4-1.png');
    }
  }
  .img-area-2 {
    background-image: url('../images/home-section4-2-sm.png');
    @include media-breakpoint-up(md) {
      background-image: url('../images/home-section4-2.png');
    }
  }
}