<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="index-banner h-396p h-md-787p bg-cover">
        <div class="container h-100 h-205p d-flex flex-column justify-content-center align-items-end">
          <p class="text-primary-100 fs-md-4 mb-0">Promise-Desert 2020 早春系列</p>
          <h1 class="text-primary-100 fw-bold fs-5 mb-2 fs-md-1 mb-lg-1">看得清，才能看得遠</h1>
          <button class="btn btn-primary fs-6">立即購買</button>
        </div>
      </section>
      <section class="bg-secondary py-10 py-md-20">
        <div class="container">
          <h2 class="text-primary-100 fs-5 mb-6 text-center fw-bold fs-md-2">
            用專業的心，做專業的事
          </h2>
          <ul class="row p-0 text-center mb-0">
            <li class="col-md-6 col-lg-3 mb-6 mb-lg-0 list-unstyled">
              <img src="../assets/images/home-section2-1.png"
                alt="icon-image"
                class="mb-4 w-100p h-100p">
              <h3 class="text-primary-100 fs-5 fw-bold mb-2">單一價格</h3>
              <p class="mb-0 text-start">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li class="col-md-6 col-lg-3 mb-6 mb-lg-0 list-unstyled">
              <img src="../assets/images/home-section2-2.png"
                alt="icon-image"
                class="mb-4 w-100p h-100p">
              <h3 class="text-primary-100 fs-5 fw-bold mb-2">20 分鐘即可取件</h3>
              <p class="mb-0 text-start">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </li>
            <li class="col-md-6 col-lg-3 mb-6 mb-md-0 list-unstyled">
              <img src="../assets/images/home-section2-3.png"
                alt="icon-image"
                class="mb-4 w-100p h-100p">
              <h3 class="text-primary-100 fs-5 fw-bold mb-2">安心售後服務</h3>
              <p class="mb-0 text-start">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </li>
            <li class="col-md-6 col-lg-3 list-unstyled">
              <img src="../assets/images/home-sectioin2-4.png"
                alt="icon-image"
                class="mb-4 w-100p h-100p">
              <h3 class="text-primary-100 fs-5 fw-bold mb-2">關於鏡片</h3>
              <p class="mb-0 text-start">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="py-10 py-md-20">
        <div class="container">
          <h2 class="mb-6 fw-bold text-primary-100 fs-5 fs-md-2 text-center mb-md-12">
            經典系列鏡框
          </h2>
          <ul class="row list-unstyled mb-0 justify-content-center">
            <li class="col-md-6 col-lg-4 mb-6 mb-lg-0">
              <img src="../assets/images/home-section3-1.png"
                alt="optical 鏡框"
                class="img-fluid mb-2">
                <h3 class="text-primary text-center fst-italic fs-2 fw-black mb-0">
                  OPTICAL
                </h3>
            </li>
            <li class="w-100 d-none d-md-block d-lg-none"></li>
            <li class="col-md-6 col-lg-4 mb-6 mb-lg-0">
              <img src="../assets/images/home-section3-2.png"
                alt="optical 鏡框"
                class="img-fluid mb-2">
                <h3 class="text-primary text-center fst-italic fs-2 fw-black mb-0">
                  SUNGLASSES
                </h3>
            </li>
            <li class="w-100 d-none d-md-block d-lg-none"></li>
            <li class="col-md-6 col-lg-4">
              <img src="../assets/images/home-section3-3.png"
                alt="optical 鏡框"
                class="img-fluid mb-2">
                <h3 class="text-primary text-center fst-italic fs-2 fw-black mb-0">
                  FUNCTIONAL
                </h3>
            </li>
          </ul>
        </div>
      </section>
      <section class="py-10 py-md-20 index-design-glassess bg-cover">
        <h2 class="text-light fw-bold text-center fs-5 fs-md-2 mb-6 mb-md-12">
          聯名設計鏡框
        </h2>
        <div class="container">
          <ul class="d-flex flex-column flex-lg-row list-unstyled mb-0">
            <li class="w-lg-50 mb-6 mb-lg-0">
              <div class="img-area-1 h-240p bg-cover"></div>
              <div class="py-2 bg-light text-center">
                <h3 class="text-primary fst-italic fw-black fs-2 mb-0">DOUBLE A+</h3>
              </div>
            </li>
            <li class="w-lg-50">
              <div class="img-area-2 h-240p bg-cover"></div>
              <div class="py-2 bg-light text-center border-start border-light-100 border-2">
                <h3 class="text-primary fst-italic fw-black fs-2 mb-0">YOUTH</h3>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="py-10 py-md-20">
        <h2 class="mb-6 fw-bold text-primary-100 fs-5 fs-md-2 text-center mb-md-12">
          顧客推薦
        </h2>
        <div class="container">
          <ul class="row list-unstyled mb-0">
            <li class="col-md-6 col-lg-3 mb-4 mb-md-6 mb-lg-0">
              <div class="card rounded-1 border border-gray-300 shadow">
                <img src="../assets/images/home-section5-1.png"
                  alt="customer-image"
                  class="h-306p card-img-top object-fit-cover">
                <div class="card-body h-205p d-flex flex-column justify-content-between">
                  <div>
                    <h3 class="mb-2 fs-7">Jessy</h3>
                    <p class="mb-0">眼鏡品質優良，下次還會想來這邊購買！</p>
                  </div>
                  <p class="mb-0 text-light-200 fs-8">2021/06/20</p>
                </div>
              </div>
            </li>
            <li class="col-md-6 col-lg-3 mb-4 mb-md-6 mb-lg-0">
              <div class="card rounded-1 border border-gray-300 shadow">
                <img src="../assets/images/home-section5-2.png"
                  alt="customer-image"
                  class="h-306p card-img-top object-fit-cover">
                <div class="card-body h-205p d-flex flex-column justify-content-between">
                  <div>
                    <h3 class="mb-2 fs-7">凱倫</h3>
                    <p class="mb-0">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                  </div>
                  <p class="mb-0 text-light-200 fs-8">2021/04/18</p>
                </div>
              </div>
            </li>
            <li class="col-md-6 col-lg-3 mb-4 mb-md-0">
              <div class="card rounded-1 border border-gray-300 shadow">
                <img src="../assets/images/home-section5-3.png"
                  alt="customer-image"
                  class="h-306p card-img-top object-fit-cover">
                <div class="card-body h-205p d-flex flex-column justify-content-between">
                  <div>
                    <h3 class="mb-2 fs-7">悠悠</h3>
                    <p class="mb-0">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                  </div>
                  <p class="mb-0 text-light-200 fs-8">2021/06/20</p>
                </div>
              </div>
            </li>
            <li class="col-md-6 col-lg-3">
              <div class="card rounded-1 border border-gray-300 shadow">
                <img src="../assets/images/home-section5-4.png"
                  alt="customer-image"
                  class="h-306p card-img-top object-fit-cover">
                <div class="card-body h-205p d-flex flex-column justify-content-between">
                  <div>
                    <h3 class="mb-2 fs-7">Kyuan</h3>
                    <p class="mb-0">服務很好，品質沒有任何問題，非常喜歡。</p>
                  </div>
                  <p class="mb-0 text-light-200 fs-8">2020/10/31</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="py-10 py-md-20 bg-secondary">
        <h2 class="text-primary-100 fw-bold text-center fs-5 fs-md-2 mb-6 mb-md-12">聯絡我們</h2>
        <div class="container">
          <form action="index.html"
            class="row p-0 mb-0 justify-content-center">
            <div class="col-md-10 col-lg-6 mb-6 mb-md-12">
              <p class="fs-lg-6 mb-6">
                我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
              </p>
              <div class="mb-4">
                <label for="name"
                  class="form-label mb-2">
                  姓名
                </label>
                <input type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  placeholder="陳小明">
              </div>
              <div class="mb-4">
                <label for="tel" class="form-label mb-2">
                  連絡電話
                </label>
                <input type="tel" 
                  class="form-control"
                  name="tel"
                  id="tel"
                  placeholder="0912-345-678">
              </div>
              <div class="mb-4">
                <label for="email" class="form-label mb-2">
                  電子郵件
                </label>
                <input type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="example@email.com">
              </div>
              <div class="mb-4">
                <label for="comment" class="form-label mb-2">
                  意見反映
                </label>
                <textarea class="form-control h-136p"
                  name="comment"
                  id="comment"
                  rows="3">
                </textarea>
              </div>
              <div class="form-check mb-4">
                <input class="form-check-input"
                  type="checkbox"
                  value="agree"
                  name="agree"
                  id="check-agreement">
                <label class="form-check-label" for="check-agreement">
                  我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
                </label>
              </div>
            </div>
            <div class="w-100 d-none d-lg-block"></div>
            <div class="col-md-6 col-lg-4">
              <input type="submit" class="btn btn-primary py-4 w-100" value="確認送出">
            </div>
          </form>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
