<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>SunGlasses 鏡框</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="cotainer-lg">
      <ul class="nav-list row list-unstyled p-0 m-0 g-0">
        <li class="col-4">
          <a href="product-optical.html"
            class="fw-medium py-4 py-lg-6 d-block fs-md-5 fs-lg-45 border border-light-100 text-center text-dark">
            OPTICAL
          </a>
        </li>
        <li class="col-4">
          <a href="product-sunGlassess.html"
            class="fw-medium py-4 py-lg-6 d-block fs-md-5 fs-lg-45 border border-light-100 text-center text-dark active">
            SUNGLASSES
          </a>
        </li>
        <li class="col-4">
          <a href="product-optical.html"
            class="fw-medium py-4 py-lg-6 d-block fs-md-5 fs-lg-45 border border-light-100 text-center text-dark">
            FUNCTIONAL
          </a>
        </li>
      </ul>
      <div class="d-flex product-banner">
        <div class="w-50 h-136p h-md-296p bg-cover bg-3"></div>
        <div class="w-50 h-136p h-md-296p bg-cover bg-4"></div>
      </div>
    </div>
    <main>
      <section class="pt-10 pb-16 py-md-20">
        <h2 class="fs-5 fs-md-3 fw-medium text-center mb-0">2020 NEW COLLECTION</h2>
        <h1 class="fs-5 fs-md-45 text-center mb-6 mb-md-8">賽璐珞鈦金屬混合鏡框</h1>
        <div class="container">
          <ul class="product-list row list-unstyled mb-0">
            <li class="col-md-6 col-lg-4 mb-6 mb-md-10 mb-lg-20 position-relative">
              <a href="#" class="stretched-link"></a>
              <div class="overflow-hidden">
                <img src="../assets/images/product-7.png"
                  alt="glassess-img-7"
                  class="img-fluid transition-base">
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fs-5 mb-0">BJ41600S</p>
                <p class="text-primary fw-medium fs-5 mb-0">NTD3,490</p>
              </div>
              <div class="d-inline-block bg-third-100 w-24p h-24p rounded-1"></div>
              <div class="d-inline-block bg-third w-24p h-24p rounded-1"></div>
            </li>
            <li class="col-md-6 col-lg-4 mb-6 mb-md-10 mb-lg-20 position-relative">
              <a href="#" class="stretched-link"></a>
              <div class="overflow-hidden">
                <img src="../assets/images/product-8.png"
                  alt="glassess-img-8"
                  class="img-fluid transition-base">
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fs-5 mb-0">BJ41600S</p>
                <p class="text-primary fw-medium fs-5 mb-0">NTD3,490</p>
              </div>
              <div class="d-inline-block bg-third-100 w-24p h-24p rounded-1"></div>
              <div class="d-inline-block bg-third w-24p h-24p rounded-1"></div>
            </li>
            <li class="col-md-6 col-lg-4 mb-6 mb-md-10 mb-lg-20 position-relative">
              <a href="#" class="stretched-link"></a>
              <div class="overflow-hidden">
                <img src="../assets/images/product-9.png"
                  alt="glassess-img-9"
                  class="img-fluid transition-base">
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fs-5 mb-0">BJ41600S</p>
                <p class="text-primary fw-medium fs-5 mb-0">NTD3,490</p>
              </div>
              <div class="d-inline-block bg-third-100 w-24p h-24p rounded-1"></div>
              <div class="d-inline-block bg-third w-24p h-24p rounded-1"></div>
            </li>
            <li class="col-md-6 col-lg-4 mb-6 mb-md-10 mb-lg-20 position-relative">
              <a href="#" class="stretched-link"></a>
              <div class="overflow-hidden">
                <img src="../assets/images/product-10.png"
                  alt="glassess-img-10"
                  class="img-fluid transition-base">
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fs-5 mb-0">BJ41600S</p>
                <p class="text-primary fw-medium fs-5 mb-0">NTD3,490</p>
              </div>
              <div class="d-inline-block bg-third-100 w-24p h-24p rounded-1"></div>
              <div class="d-inline-block bg-third w-24p h-24p rounded-1"></div>
            </li>
            <li class="col-md-6 col-lg-4 mb-6 mb-md-20 position-relative">
              <a href="#" class="stretched-link"></a>
              <div class="overflow-hidden">
                <img src="../assets/images/product-11.png"
                  alt="glassess-img-11"
                  class="img-fluid transition-base">
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fs-5 mb-0">BJ41600S</p>
                <p class="text-primary fw-medium fs-5 mb-0">NTD3,490</p>
              </div>
              <div class="d-inline-block bg-third-100 w-24p h-24p rounded-1"></div>
              <div class="d-inline-block bg-third w-24p h-24p rounded-1"></div>
            </li>
            <li class="col-md-6 col-lg-4 mb-6 mb-md-20 position-relative">
              <a href="#" class="stretched-link"></a>
              <div class="overflow-hidden">
                <img src="../assets/images/product-12.png"
                  alt="glassess-img-12"
                  class="img-fluid transition-base">
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fs-5 mb-0">BJ41600S</p>
                <p class="text-primary fw-medium fs-5 mb-0">NTD3,490</p>
              </div>
              <div class="d-inline-block bg-third-100 w-24p h-24p rounded-1"></div>
              <div class="d-inline-block bg-third w-24p h-24p rounded-1"></div>
            </li>
          </ul>
          <nav>
            <ul class="pagination pagination-lg justify-content-center mb-0">
              <li class="page-item">
                <a class="page-link px-3 px-md-4 fs-7 fs-md-6" href="#">上一頁</a>
              </li>
              <li class="page-item">
                <a class="page-link px-3 px-md-4 fs-7 fs-md-6 active" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link px-3 px-md-4 fs-7 fs-md-6" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link px-3 px-md-4 fs-7 fs-md-6" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link px-3 px-md-4 fs-7 fs-md-6" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link px-3 px-md-4 fs-7 fs-md-6" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link px-3 px-md-4 fs-7 fs-md-6" href="#">下一頁</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
