<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>常見問題</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="pt-10 pb-16 py-md-20 pt-lg-24">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="fs-5 fs-md-2 ps-4 border-start border-primary border-8 mb-6 mb-md-8">
                常見問題
              </h1>
              <h2 class="fw-bold fs-5 mb-6">
                我想詢問配鏡問題
              </h2>
              <ol class="list-unstyled mb-0">
                <li class="mb-6 mb-md-8">
                  <h3 class="fs-6 fw-bold mb-2">Q1.請問可否自備鏡框單配鏡片？</h3>
                  <p class="mb-0">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br> 當日購買JINS盒裝眼鏡搭配薄型非球面鏡片 980隔日後則為 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br>
                    他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
                </li>
                <li class="mb-6 mb-md-8">
                  <h3 class="fs-6 fw-bold mb-2">Q2.眼鏡都可以20分鐘取件嗎？</h3>
                  <p class="mb-0">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br> 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
                </li>
                <li class="mb-6 mb-md-8">
                  <h3 class="fs-6 fw-bold mb-2">Q3.散光鏡片需要額外加價嗎？</h3>
                  <p class="mb-0">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br> 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片
                  1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
                </li>
                <li class="mb-6 mb-md-8">
                  <h3 class="fs-6 fw-bold mb-2">Q4.請問可否自備鏡框單配鏡片？</h3>
                  <p class="mb-0">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br> 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片
                  1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
                </li>
                <li>
                  <h3 class="fs-6 fw-bold mb-2">Q5.請問可以單購買鏡框嗎？</h3>
                  <p class="mb-0">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br> 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片
                  1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
