<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>門市據點</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="pt-10 pb-16 py-md-20 pt-lg-24">
        <div class="container">
          <h1 class="fs-5 fs-md-2 ps-4 border-start border-primary border-8 mb-6 mb-md-8">
            門市據點
          </h1>
          <div class="row mb-6 mb-md-10">
            <div class="col-md-7 col-lg-4 d-flex align-items-center">
              <p class="fs-md-5 me-2 me-md-4 flex-shrink-0 mb-0">選擇分店</p>
              <select class="form-select bg-light border-light-100">
                <option value="台中清水旗艦店">台中清水旗艦店</option>
                <option value="台北中山旗艦店">台北中山旗艦店</option>
                <option value="台北綠園店">台北綠園店</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 mb-6 mb-lg-0">
              <div class="row">
                <div class="col-md-6 col-lg-12">
                  <img src="../assets/images/store-3.png"
                    alt="shop-img"
                    class="h-224p w-100 object-fit-cover d-block">
                </div>
                <div class="col-md-6 col-lg-12">
                  <div class="card">
                    <h2 class="fs-5 py-2 px-6 border-bottom border-gray-200 fw-normal mb-0">
                      台中清水旗艦店
                    </h2>
                    <div class="card-body py-4 px-6">
                      <div class="fs-6 d-flex align-items-center mb-2">
                        <span class="material-symbols-outlined me-3">call</span>
                        <p class="mb-0">電話：(02)000-1234</p>
                      </div>
                      <div class="fs-6 d-flex align-items-center mb-2">
                        <span class="material-symbols-outlined me-3">schedule</span>
                        <p class="mb-0">營業時間：10:00-21:00</p>
                      </div>
                      <div class="fs-6 d-flex">
                        <span class="material-symbols-outlined me-3">location_on</span>
                        <p class="mb-0">地址：台中市清水區經南一路 23 號 8 樓</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <img src="../assets/images/map-lg.png"
                alt="map-lg"
                class="w-100 h-208p h-md-414p object-fit-cover d-block">
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
