<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="pt-10 pb-16">
        <div class="container">
          <h1 class="fs-5 fs-md-2 ps-4 border-start border-primary border-8 mb-6 mb-md-8">
            門市據點
          </h1>
          <div class="row mb-6 mb-md-10">
            <div class="col-md-7 col-lg-4 d-flex align-items-center">
              <p class="fs-md-5 me-2 me-md-4 flex-shrink-0 mb-0">選擇地區</p>
              <select class="form-select bg-light border-light-100">
                <option value="台北市">台北市</option>
                <option value="新北市">新北市</option>
              </select>
            </div>
          </div>
          <ul class="row list-unstyled mb-0">
            <li class="col-md-6 col-lg-4 mb-6 mb-lg-12">
              <div class="card">
                <img src="../assets/images/store-1.png"
                  alt="shop-img"
                  class="card-img-top">
                <h2 class="fs-5 py-2 px-6 border-bottom border-gray-200 fw-normal">台北中山旗艦店</h2>
                <div class="card-body py-4 px-6">
                  <div class="fs-6 d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined me-3">call</span>
                    <p class="mb-0">電話：(02)000-1234</p>
                  </div>
                  <div class="fs-6 d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined me-3">schedule</span>
                    <p class="mb-0">營業時間：10:00-21:00</p>
                  </div>
                  <div class="fs-6 d-flex">
                    <span class="material-symbols-outlined me-3">location_on</span>
                    <p class="mb-0">地址：台北市中山區南京東路25巷2-1號</p>
                  </div>
                </div>
                <div class="btn btn-dark fs-6 py-4">詳細資訊</div>
              </div>
            </li>
            <li class="col-md-6 col-lg-4 mb-6 mb-lg-12">
              <div class="card">
                <img src="../assets/images/store-2.png" alt="shop-img" class="card-img-top">
                <h2 class="fs-5 py-2 px-6 border-bottom border-gray-200 fw-normal">台北綠園店</h2>
                <div class="card-body py-4 px-6">
                  <div class="fs-6 d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined me-3">call</span>
                    <p class="mb-0">電話：(02)000-2345</p>
                  </div>
                  <div class="fs-6 d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined me-3">schedule</span>
                    <p class="mb-0">營業時間：10:00-21:00</p>
                  </div>
                  <div class="fs-6 d-flex">
                    <span class="material-symbols-outlined me-3">location_on</span>
                    <p class="mb-0">地址：台北市中正區復興南路 132-1 號</p>
                  </div>
                </div>
                <div class="btn btn-dark fs-6 py-4">詳細資訊</div>
              </div>
            </li>
            <li class="col-md-6 col-lg-4 mb-6 mb-lg-12">
              <div class="card">
                <img src="../assets/images/store-3.png" alt="shop-img" class="card-img-top">
                <h2 class="fs-5 py-2 px-6 border-bottom border-gray-200 fw-normal">台中清水旗艦店</h2>
                <div class="card-body py-4 px-6">
                  <div class="fs-6 d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined me-3">call</span>
                    <p class="mb-0">電話：(02)000-1234</p>
                  </div>
                  <div class="fs-6 d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined me-3">schedule</span>
                    <p class="mb-0">營業時間：10:00-21:00</p>
                  </div>
                  <div class="fs-6 d-flex">
                    <span class="material-symbols-outlined me-3">location_on</span>
                    <p class="mb-0">地址：台中市清水區經南一路 23 號 8 樓</p>
                  </div>
                </div>
                <div class="btn btn-dark fs-6 py-4">詳細資訊</div>
              </div>
            </li>
            <li class="col-md-6 col-lg-4 mb-6 mb-lg-0">
              <div class="card">
                <img src="../assets/images/store-4.png" alt="shop-img" class="card-img-top">
                <h2 class="fs-5 py-2 px-6 border-bottom border-gray-200 fw-normal">高雄中正形象店</h2>
                <div class="card-body py-4 px-6">
                  <div class="fs-6 d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined me-3">call</span>
                    <p class="mb-0">電話：(02)000-1234</p>
                  </div>
                  <div class="fs-6 d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined me-3">schedule</span>
                    <p class="mb-0">營業時間：10:00-21:00</p>
                  </div>
                  <div class="fs-6 d-flex">
                    <span class="material-symbols-outlined me-3">location_on</span>
                    <p class="mb-0">地址：高雄市苓雅區中正路 38 號 12 樓</p>
                  </div>
                </div>
                <div class="btn btn-dark fs-6 py-4">詳細資訊</div>
              </div>
            </li>
            <li class="col-md-6 col-lg-4">
              <div class="card">
                <img src="../assets/images/store-5.png" alt="shop-img" class="card-img-top">
                <h2 class="fs-5 py-2 px-6 border-bottom border-gray-200 fw-normal">高雄夢時代店</h2>
                <div class="card-body py-4 px-6">
                  <div class="fs-6 d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined me-3">call</span>
                    <p class="mb-0">電話：(02)000-1234</p>
                  </div>
                  <div class="fs-6 d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined me-3">schedule</span>
                    <p class="mb-0">營業時間：10:00-21:00</p>
                  </div>
                  <div class="fs-6 d-flex">
                    <span class="material-symbols-outlined me-3">location_on</span>
                    <p class="mb-0">地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                  </div>
                </div>
                <div class="btn btn-dark fs-6 py-4">詳細資訊</div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
